* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

nav .brand-logo {
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

nav ul li a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}

nav .button-collapse i {
  color: #ffffff;
}

.side-nav li a {
  color: #7d82d5;
}

.side-nav li a:hover,
.side-nav li a:active {
  color: #1a237e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#about h2 {
  font-weight: 600;
}

#about h2 span {
  color: #e8eaf6;
}

#about p {
  font-size: 1.4rem;
  padding: 0.5rem;
  color: #e8eaf6;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#work h3 {
  font-weight: 600;
  color: #1a237e;
  letter-spacing: 0.2rem;
}

#work .card-image .card-title {
  color: #e8eaf6;
}

#work .card-content p {
  font-size: 1.4rem;
  color: #1a237e;
}

#work .card-action a {
  color: #1a237e;
  font-size: 1.2rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#work .card-action a:hover,
#work .card-action a:active {
  color: #7d82d5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#skills {
  background: #7d82d5;
}

#skills h3 {
  font-weight: 600;
  letter-spacing: 2px;
}

#skills .card-reveal .card-title {
  color: #1a237e;
  font-size: 2rem;
}

#skills .card-reveal p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #1a237e;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#contact h3 {
  color: #7d82d5;
  font-weight: 600;
}

#contact .card-panel {
  /* label focus color */
  /* label underline focus color */
  /* icon prefix focus color */
  /* valid color */
}

#contact .card-panel h4 {
  color: #7d82d5;
}

#contact .card-panel .input-field i {
  color: #7d82d5;
}

#contact .card-panel #icon_prefix {
  color: #1a237e;
  border-bottom: #e8eaf6 solid 1px;
  font-size: 1.2rem;
}

#contact .card-panel .input-field input[type='text']:focus + label {
  color: #1a237e;
}

#contact .card-panel .input-field input[type='text']:focus {
  border-bottom: 1px solid #e8eaf6;
  -webkit-box-shadow: 0 1px 0 0 #e8eaf6;
          box-shadow: 0 1px 0 0 #e8eaf6;
}

#contact .card-panel .input-field .prefix.active {
  color: #e8eaf6;
}

#contact .card-panel .input-field input[type='text'].valid {
  border-bottom: 1px solid #1a237e;
  -webkit-box-shadow: 0 1px 0 0 #1a237e;
          box-shadow: 0 1px 0 0 #1a237e;
}

#contact .card-panel .small-btn {
  color: #1a237e;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #e8eaf6;
  border: none;
  margin: 1rem;
  border-radius: 0.8rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#contact .card-panel .small-btn:active,
#contact .card-panel .small-btn:hover {
  color: #e8eaf6;
  background: #7d82d5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

footer {
  background: #e8eaf6;
  color: #1a237e;
  font-size: 1.2rem;
}
/*# sourceMappingURL=mainStyle.css.map */